<a href="https://colab.research.google.com/github/dlorodriguesprogramador/dio-lab-open-source/blob/main/programacao_python_para_dados/programacao_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Módulo 1 - Programação em Python**

Nesse Módulo vamos estudar a sintaxe nativa do Python.

**O que é Python?**

Python é uma linguagem de programação popular. Foi criado por Guido Van Rossum e lançado em 1991.

**Python pode ser usado para:**
  1. Inteligência Artificial;
  2. Machine Learning;
  3. Desenvolvimento de Software;
  4. Desenvolvimento de Aplicativos;
  5. Automações (RPA);
  6. IoT (Internet das Coisa);
  7. Muitas outras.

# **1. Sintaxe básica**

Podemos utilizar '' (aspas simples)

Podemos utlizar "" (aspas duplas)

Utilizando o \n para pular uma linha na impressão do valor

Usamos o hastgag # para comentar algo

In [ ]:
print('Olá Mundo')
print("Olá Mundo")
print('Olá Mundo \nOlá Mundo')

Olá Mundo
Olá Mundo
Olá Mundo
Olá Mundo

In [ ]:
# Comentario !!!!
# Posso escrever qualquer coisa quando usamos #.

# **2. Operadores matemáticos**

Os operadores são usados para realizar operações em variáveis e valores.

  1. Soma
  2. Subtração
  3. Multiplicação
  4. Divisão
  5. Exponenciação
  6. Resto da Divisão
  7. Divisão de Chão

In [ ]:
# Soma
10 + 10

20

In [ ]:
# Subtração
15 - 8

7

In [ ]:
# Multiplicação
2 * 12

24

In [ ]:
# Divisão
35 / 5

7.0

In [ ]:
# Exponenciação
2 ** 4

16

In [ ]:
# Resto da Divisão
4 % 5

4

In [ ]:
# Divisão de Chão
3 // 5

0

In [ ]:
# Priorização
(10 + 5) * 2

30

# **3. Variáveis**

Variáveis são contêineres para armazenar valores de dados.

Uma variável é criada no momento em que você atribui um valor a ela.

In [ ]:
# Variáveis
nome = 'Douglas Rodrigues'
nome

'Douglas Rodrigues'

In [ ]:
qualquer_nome_que_quiser = 'Variável'
qualquer_nome_que_quiser

'Variável'

In [ ]:
# Variáveis de Texto
var_texto_01 = 'Olá Mundo'
var_texto_02 = str('Olá Mundo 1')

print(var_texto_01, var_texto_02)

Olá Mundo Olá Mundo 1

In [ ]:
# Variáveis Numericas
var_numerica_01 = 10
var_numerica_02 = int(20)

print(var_numerica_01, var_numerica_02)

10 20

In [ ]:
# Variáveis Flutuantes
var_flutuante_01 = 10.5
var_flutuante_02 = float(20.5)

print(var_flutuante_01, var_flutuante_02)

10.5 20.5

In [ ]:
# Variáveis Boleanas
var_boolean_01 = True
var_boolean_02 = False

print(var_boolean_01, var_boolean_02)

True False

# **4. Tipos de Dados**

  1. Listas - São criadas usando [] (Colchetes)
  2. Tuplas - São criadas usando () (Paranteses)
  3. Dicionários - São criadas usando {} (Chaves)

    Esses tipos de dados podem receber qualquer tipo de informação, inclusive Operações Aritméticas.

In [ ]:
# Listas
lista_exemplo_01 = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]
lista_exemplo_02 = [ 'Douglas', 'Rodrigues', 'Souza' ]
lista_exemplo_03 = [ 1, 2, 3, 'Douglas', 'Rodrigues', 'Souza' ]
lista_exemplo_04 = [ 1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False ]
lista_exemplo_05 = [ 1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False, [ 1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False ] ]

print(lista_exemplo_01, lista_exemplo_02, lista_exemplo_03, lista_exemplo_04, lista_exemplo_05)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] ['Douglas', 'Rodrigues', 'Souza'] [1, 2, 3, 'Douglas', 'Rodrigues', 'Souza'] [1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False] [1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False, [1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False]]

In [ ]:
# Tuplas !!!!!! são imutaveis
tupla_exemplo_01 = ( 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 )
tupla_exemplo_02 = ( 'Douglas', 'Rodrigues', 'Souza' )
tupla_exemplo_03 = ( 1, 2, 3, 'Douglas', 'Rodrigues', 'Souza' )
tupla_exemplo_04 = ( 1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False )
tupla_exemplo_05 = ( 1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False, ( 1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False ) )

print(tupla_exemplo_01, tupla_exemplo_02, tupla_exemplo_03, tupla_exemplo_04, tupla_exemplo_05)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) ('Douglas', 'Rodrigues', 'Souza') (1, 2, 3, 'Douglas', 'Rodrigues', 'Souza') (1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False) (1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False, (1, 2, 3, 'Douglas', 'Rodrigues', 'Souza', True, False))

In [ ]:
# Dicionarios
dicionario = {
    'Index 01': 'Douglas',
    'Index 02': 'Rodrigues',
    'Index 03': 'Souza',
    'lista_exemplo_01': [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ],
}

print(dicionario)

{'Index 01': 'Douglas', 'Index 02': 'Rodrigues', 'Index 03': 'Souza', 'lista_exemplo_01': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}

# **5. Nomeação de variáveis**

Podemos nomear variáveis e tipos de dados de diversas formas:
  1. Declarar as variáveis em uma única linha de comando;
  2. Atribuir um valor à diversas variáveis;
  3. Combinar variáveis;
  4. Declarar usando uma lista;
  5. Operar com operadores matemáticos;
  6. Muitos outros.

In [ ]:
# Nomeando
Laranja, Melao, limão = 1, 2, 3

print(Laranja, Melao, limão)

1 2 3

In [ ]:
# Nomeando
Morango = Uva = Kiwi = 10

print(Morango, Uva, Kiwi)

10 10 10

In [ ]:
# Nomear com lista
lista_carros = ['BMW', 'Mercedes', 'Ferrari']

carro1, carro2, carro3 = lista_carros

print(carro1, carro2, carro3)

BMW Mercedes Ferrari

In [ ]:
# Combinar variáveis
nome = 'Douglas'
sobrenome = 'Souza'

nome_completo = nome + ' ' + sobrenome

print(nome_completo)

Douglas Souza

In [ ]:
# Experimento
nome = 'Douglas '
idade = str(36)

nome + idade + ' anos'

'Douglas 36 anos'

In [ ]:
# Experimento 2
investimento = 1000
taxa_juros = float(0.2)

print(investimento * taxa_juros)

valor_guardado = (investimento * taxa_juros) + investimento

print(valor_guardado)

200.0
1200.0

# **6. Tipo da Informação**

Na programação, o tipo de dados é um conceito importante. Variáveis ​​podem armazenar dados de diferentes tipos, e diferentes tipos podem fazer coisas diferentes. O Python tem os seguintes tipos de dados integrados por padrão, nestas categorias:

  1. Text Type: str
  2. Numeric Types: int, float, complex
  3. Sequence Types: list, tuple, range
  4. Mapping Type: dict
  5. Set Types: set, frozenset
  6. Boolean Type: bool
  7. Binary Types: bytes, bytearray, memoryview

In [19]:
# Criando tipos de informações
string = str('Olá Mundo')
inteiro = int(10)
flutuante = float(10.5)
complexo = complex(1j)
lista = list(('Douglas', 'Rodrigues', 'Souza'))
tupla = tuple(('Douglas', 'Rodrigues', 'Souza'))
dicionario = dict(nome='Douglas', sobrenome='Souza')
conjunto = set(('Douglas', 'Rodrigues', 'Souza'))
booleano = bool(5)
fronzet = frozenset(('Maça', 'Morango', 'Pera'))
bytes_obj = bytes(5)
bytes_arr = bytearray(5)
memoria = memoryview(bytes_obj)

from datetime import datetime
data = datetime.today().date()

print(type(string))
print(type(inteiro))
print(type(flutuante))
print(type(complexo))
print(type(lista))
print(type(tupla))
print(type(dicionario))
print(type(conjunto))
print(type(booleano))
print(type(fronzet))
print(type(bytes_obj))
print(type(bytes_arr))
print(type(memoria))
print(type(data))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>
<class 'frozenset'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>
<class 'datetime.date'>

# **7º Comando Round**
Quando trabalhamos com números flutuantes, podemos arredondar o valor usando um comando nativo do Python

round( valor, número de casas)

In [ ]:
# Comando Round
# Metodo round, arredonda valores

valor_exemplo = 12.123456789

print( round( valor_exemplo, 1 ) )
print( round( valor_exemplo, 2 ) )
print( round( valor_exemplo, 3 ) )
print( round( valor_exemplo, 5 ) )

# **8º Comando Len**
A função len() retorna a quantidade de elementos de qualquer lista em Python, essa é mais uma função built-in e disponível em qualquer parte dos nossos códigos.

In [21]:
lista = [1, 2, 3, 4, 5]
dicionario = { 'Nome':'Odemir', 'Idade':29, 'Vip':False }
tupla = (10, 20)
string = 'Olá Mundão!'

print( len(lista) )
print( len(dicionario) )
print( len(tupla) )
print( len(string) )

5
3
2
11

# **9º Fatiamento de Strings**
Strings são listas de bytes represetando caracteres.

Podemos acessar suas posições usando Colchetes

String [Posição Inicial: Posição Final]

In [22]:
# Strings
minha_string = 'Aprender python é Top!'
print( type(minha_string) )
print( len(minha_string) )

print( minha_string[0] )
print( minha_string[5] )
print( minha_string[-1] )
print( minha_string[-10:] )
print( minha_string[0:10] )

<class 'str'>
22
A
d
!
hon é Top!
Aprender p